@font-face {
    font-family: circular-regular;
    src: url(CircularRegular.ttf);
}

body{
    position: relative;
    font-family: circular-regular;
    margin: 0;
}

.navbar
{
    z-index: 1;
    position: sticky;
    top:0;
    width: 100%;
    height: 80px;
    background: #5194ff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 10px 0;
    filter: drop-shadow(0px 2px 2px black);
}
.hintbox
{
    display: block; 
    position: relative;
    border-radius: 5px; 
    width: 98%;
    background-color: rgb(48, 48, 48);
    margin-top: 5px;
}
#hints
{
    margin: 10px;
}
.sitetitle
{
    margin: 0 0 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}
.hintlevelname
{
    display: inline-flex;
    width: 45%; 
    padding: 5px 5px 5px 20px; 
    color: white;
}
.hintheader
{
    display: block;
    width: 100%;
}
.hintbuttons
{
    float:right;
    margin: 10px 20px 5px 0;
    width: 45%;
    display: inline-flex;
    justify-content: flex-end;
}
.hintbutton
{
    display: inline-flex;
    width: 100px;
    border-radius: 5px;
    height: 40px;
    justify-content: space-around;
    flex-direction: column;
}
.hinttextbox
{
    display: none;
    margin: 0;
    padding: 5px 5px 5px 20px;
    border-radius: 0 0 5px 5px;
    background-color: #397fd5;
}
.hinttext{
    color: white;
}
.liner
{
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 5px;
    margin:0;
    padding:0;
}
.sectiontitle
{
    display: flex;
    justify-content: center;
}
.navbtns
{
    position: absolute;
    display: flex;
    right: 0;
    padding: 20px;
}
.navbtn{
    display: block;
    margin: 0 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.navbtn:hover
{
    color: gold;
}
button:hover{
    background-color:gold;
    cursor: pointer;
}
.txtbox
{
    display: flex;
    margin: 0 20px 20px 20px;
    background: rgb(48, 48, 48);
    width: 700px;
    max-width: 98%;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 1px black);
    color: white;
    flex-direction: column;
    align-items: center;
}
.txtboxtxt
{
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 15px 5px 0px 5px;
    text-align: center;
}
.spacer
{
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 10px;
}
.txtboxbtn
{
    width: 75%;
    height: 35px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    border: 0;
    filter: drop-shadow(0px 2px 1px black);
    background: #5194ff;
}
.txtboxbtn:hover{
    background-color: #3473da !important;
}
.section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}